{% extends 'base.html' %}
{% load i18n%}
{% load static %}
{% block main_css %}
    <link rel="stylesheet" href="{% static 'main/css/dashboard.css' %}">
{% endblock %}

{% block header %}
    <header id="dashboard-header" class="bg-light">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container">
              <a class="navbar-brand mr-4" href="{% url 'index' %}">{% trans "Sick Leads " %}</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                  <a class="nav-item nav-link" href="{% url 'index' %}">{% trans "Home" %}</a>
                  <a class="nav-item nav-link" data-hover="About" href="{% url 'index' %}#container">{% trans "About" %}</a>
                  <!-- <a class="nav-item nav-link" href="{% url 'dashboard' %}">{% trans "Dashboard" %}</a>-->
                  <a class="nav-item nav-link" href="{% url 'blog' %}">{% trans "Blog" %}</a>
                  <a class="nav-item nav-link" href="/forum">{% trans "Forum" %}</a>
                  {% if user.is_authenticated %}
                  <a class="nav-item nav-link" href="/analytics">Dashboard</a>
                  {% endif %}
       
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                  <div class="collapse navbar-collapse" id="main-menu-top">
                    <div class="ml-auto">
                        {% if is_fb_connected %}
                            <span class="fb_login_button fb_connected">Connected</span>
                        {% else %}
                            <a href="{% url "social:begin" "facebook" %}" class="fb_login_button">Connect Facebook</a>
                        {% endif %}
                    </div>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Language
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="{% url 'set_language_from_url' 'en' %}">Englisch</a>
                          <a class="dropdown-item" href="{% url 'set_language_from_url' 'de' %}">Deutsch</a>
                        </div>
                      </div>
                    <div class="dropdown ml-3">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'post_create' %}">{% trans "New Post" %}</a>
                            <a class="dropdown-item" href="{% url 'profile' %}">{% trans "Profile" %}</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">{% trans "Logout" %}</a>
                        </div>
                    </div>
                </div>
                </div>
              </div>
            </div>
          </nav>
        <br><br>
    </header>
{% endblock %}


{% block main_body %}

    <div id="bt-main-body">
        <div class="container-fluid">
            <div class="row">
                {% include 'includes/analytics-sidebar.html' %}
                <main class="col" id="bt-main" role="main">
                    <div id="db-heading" class="border-bottom py-3 col-12">
                        {% block dashboard_heading %}{% endblock %}
                    </div>
                    <div id="db-body" class="col-12">
                        {% block dashboard_body %}{% endblock %}
                    </div>
                </main>
            </div>
        </div>
    </div>
{% endblock %}
