{% load static %}
{% load i18n%}
<!DOCTYPE html>
<html>
<!-- Favicons -->
<link href="assets/img/favicon.png" rel="icon">
<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
<link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="assets/vendor/aos/aos.css" rel="stylesheet">
<head>


    <!-- MarketLear Tracker -->
    <script>
    ((e,t,n,o)=>new Promise((e,o)=>{let r=t.createElement(n),
    a=t.getElementsByTagName(n)[0];
    r.async=1,r.src="https://sick-leads.s3.amazonaws.com/static/analytics.js",
    r.onload=e,r.onerror=o,a.parentNode.insertBefore(r,a)}))(window,document,"script").then(
    function(){mcr("Y9_auGl7Gtk49czVj7AiuueiTrDQ_UzuNQ", "landing")});
    </script>
    <!-- MarketLear Tracker -->
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <!-- Medium Editor -->
  <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css"
    type="text/css" media="screen" charset="utf-8">

  <!-- Custom Style -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

  <title>Sick Ventures Community </title>
</head>

<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        {% if user.is_authenticated %}
        <a class="navbar-brand mr-4" href="{% url 'index' %}"><b>{% trans "SV Community " %}</b></a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
          aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
         <div class="navbar-nav mr-auto">
            
           
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="/forum">{% trans "Community" %}</a>
            
            {% endif %}
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'post_create' %}">{% trans "New Post" %}</a>
            <a class="nav-item nav-link" href="{% url 'profile' %}">{% trans "Profile" %}</a>
            <a class="nav-item nav-link" href="{% url 'logout' %}">{% trans "Logout" %}</a>
            {% else %}
            <a class="btn btn-primary" class="nav-item nav-link" href="{% url 'dashboard' %}">{% trans "Get started" %}</a>
            <a class="nav-item nav-link" href="{% url 'register' %}">{% trans "Register" %}</a>
            {% endif %}

          </div>
        </div>
      </div>
    </nav>
  </header>
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center" style="margin-top: -30px !important; margin-bottom: -50px !important; border-bottom-style: solid !important; border-bottom-width: 0px !important; padding-bottom: 50px !important;">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>{% trans "Find, Engage and Convert traffic online" %}</h1>
          <h2>{% trans "With Strategies, Tools and a winning community." %}</h2>
        </div>
      </div>
      <div class="text-center">
        <a href="{% url 'dashboard' %}" class="btn-get-started scrollto">{% trans "Get Started" %}</a>
      </div>






      </div>
    </div>
  </section>
</br>
</br>
  <section>
    </section>
  <!-- ======= Cta Section ======= -->
  <a name="container"></a>
  <section id="cta" class="cta">

    <div class="container" data-aos="zoom-in">
      <div class="text-center">
        <p>{% trans "Sick Leads helps you  find, engage and convert new customers online. It's your companion that offers you tools, a community of like-minded people and strategies to help you generate more business online. Start leveraging your web traffic and boost conversions today." %}</p>
      </div>
    </div>
  </section><!-- End Cta Section -->




  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>{% trans "Sick Leads" %}</h3>
            <p>
            <strong>Email:</strong> info@sick-lead.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4> Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'impressum' %}">{% trans "Impressum" %}</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'about' %}">{% trans "About" %} </a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'dashboard' %}">{% trans "Dashoard" %}</a></li>
              </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
          </div>


          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>{% trans "Join Our Newsletter" %}</h4>
            <p>{% trans "Get the latest insights about effective online strategies, tools and much more!" %}</p>
            <form enctype="multipart/form-data" method="post" action="/newsletter/daily-info-blogs/subscribe/">
              {% csrf_token %}
              <input type="email" name="email_field" id="id_email_field"><input id="id_submit" name="submit" type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Sick Leads</span></strong>. {% trans "All Rights Reserved" %}
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/ -->
          {% trans "Designed with care" %}
        </div>
      </div>
      <div class="mr-md-auto text-center text-md-right">
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sprache
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'set_language_from_url' 'en' %}">Englisch</a>
          <a class="dropdown-item" href="{% url 'set_language_from_url' 'de' %}">Deutsch</a>
        </div>
      </div>
      </div>

    </div>
  </footer><!-- End Footer -->


  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>

  <!-- Optional JavaScript -->
  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
