{% extends "blog/base.html" %}

{% block content %}
<style>
.PXlarHSsuCPnwMqPtjzN {
color: #ffffff;

}
</style>
<center>

  <!-- MarketLear Tracker -->
    <script>
    ((e,t,n,o)=>new Promise((e,o)=>{let r=t.createElement(n),
    a=t.getElementsByTagName(n)[0];
    r.async=1,r.src="https://sick-leads.s3.amazonaws.com/static/analytics.js",
    r.onload=e,r.onerror=o,a.parentNode.insertBefore(r,a)}))(window,document,"script").then(
    function(){mcr("Y9_auGl7Gtk49czVj7AiuueiTrDQ_UzuNQ", "landing2")});
    </script>
    <!-- MarketLear Tracker -->



    <h1 class="display-5">Digitale Geschäftsprozesse verbessern, Umsatz steigern. </h1>
    <p class="lead">Ich lade Sie dazu ein, die Zukunft des Einzelhandels mitzugestalten. Die Vision in der Unternehmen neue Technologien und Wege der Kundenaquise nutzen ist Ziel dieser Plattform. Um Chancen zu erkunden, bedarf es Pioniere wie Sie.
      <br>
      Ich freue mich auf den Austausch
      <br>
      <br>

        </div>
        <!-- Calendly Inline-Widget Beginn -->
    <div class="calendly-inline-widget" data-url="https://calendly.com/sick_leads?hide_gdpr_banner=1" style="min-width:320px;height:630px;"></div>
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
    <!-- Calendly Inline-Widget Ende -->
<br></center>

</div>


{% endblock content %}
