{% extends "blog/base.html" %}
{% block content %}


<div class="jumbotron jumbotron-fluid bg-white Small shadow">

  <div class="container">

    <h1 class="display-5">Digitale Geschäftsprozesse verbessern, Umsatz steigern. </h1>
    <p class="lead">Ich lade Sie dazu ein, die Zukunft mitzugestalten. Eine Zukunft, in der Unternehmen Web-Prozesse und neue Technologien nutzen ist Ziel dieser Plattform. Um Chancen zu erkunden, bedarf es Pioniere. Ihre Prozesse gemeinsam zu erkunden um noch effizienter zu gestalten ist. Gemeinsam mit Ihnen an Bord möchte ich die Prozesse wie Unternehmen das Internet nutzen redefinieren.
<br>
Ich freue mich, Sie kennenzulernen.
<br>
<br>
Mit freundlichen Grüßen F. Sick</p>
  </div>
</div>

<!-- Calendly Inline-Widget Beginn -->
<div class="calendly-inline-widget" data-url="https://calendly.com/sick_leads" style="min-width:320px;height:630px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly Inline-Widget Ende -->
{% endblock content %}
