{% extends "blog/base.html" %}

{% block content %}

    <h1>Impressum</h1>
    <p><b>Rechtliche Angaben</b>
      <br>
Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz: Folgt in Kürze
<br>
Inhaltlich Verantwortlicher gemäß TMG: F. Sick

<br>
<br>

<b>Haftung für eigene Inhalte</b>
<br>

Wir sind für die eigenen Inhalte, die wir zur Nutzung bereithalten, nach den allgemeinen Gesetzen verantwortlich. Eine Gewähr oder Verantwortung für Vollständigkeit, Fehler redaktioneller und technischer Art, Auslassungen usw. sowie die Richtigkeit der auf diesem Internetangebot befindlichen Information übernehmen wir nicht.

<br>
<br>
<b>Haftung für Inhalte auf Internetangeboten Dritter</b>
<br>
Verweise durch Links auf Inhalte von Internetseiten Dritter dienen lediglich Ihrer Information. Die Verantwortlichkeit für diese fremden Inhalte liegt alleine bei dem Anbieter, der diese Inhalte auf der verlinkten Internetseite bereithält. Die Internetangebote Dritter sind vor dem Einrichten des entsprechenden Verweises überprüft worden. Wir übernehmen aber keine Gewähr für die Vollständigkeit und Richtigkeit von Informationen, die hinter einem Verweis oder Link liegen; insbesondere kann der Inhalt dieser Internetangebote jederzeit ohne unser Wissen geändert werden. Werden Rechtsverletzungen bekannt, die sich auf Seiten befinden, auf die wir auf unserer Webseite einen Link gesetzt haben, werden wir diesen Link unverzüglich entfernen.

<br>
<br>
<b>Änderung der bereitgestellten Informationen</b>
<br>
Wir behalten uns das Recht vor, ohne vorherige Ankündigung die bereitgestellten Informationen zu ändern, zu ergänzen oder zu entfernen.

<br>
<br>
<b>Urheberrecht</b>
<br>
Die Gestaltung des Angebots sowie die inhaltlichen Beiträge sind urheberrechtlich geschützt. Dies gilt insbesondere für Texte, Bilder, Grafiken, Ton-, Video-, oder Animationsdateien einschließlich deren Anordnung auf den einzelnen Internet-Seiten. Der Nachdruck und die Auswertung von Pressemitteilungen ist mit Quellenangabe gestattet. Im Übrigen darf die Veröffentlichung (auch im Internet), Verarbeitung oder gewerbliche Nutzung aller Inhalte (oder Teilen davon) nur nach vorheriger schriftlicher Genehmigung durch uns erfolgen.</p>
{% endblock content %}
